html{
    background-image: url("background.jpg");
    background-color:  #56d5f541;    ;
    background-size:40%;
    background-repeat: repeat-y;
    position: relative;
    font-family: 'Nunito';
    overflow-x: hidden;
}
img{
    background-color: rgba(55, 189, 207, 0.377);
    width:40%;
    position: absolute;
    border: 0;
    margin: 0;
    left: -0.5px;
    top:150px;
}
.header{
    display: flex;
    width:60%;
    position: relative;
    left:40%;
    font-size: 24px;
    font-weight: 700;
    min-height:200px;
    align-items: center;
    padding:50px;
    box-sizing: border-box;
    margin:0;
    border:0;
    top:-7px;
    flex-direction: column;
}
.footer{
    display: flex;
    width:60%;
    position: relative;
    left:40%;
    font-size: 16px;
    font-weight: 700;
    padding:50px;
    box-sizing: border-box;
    margin:0;
    border:0;
    flex-direction: column;
    height:max(100%,500px);
}
div{
    display: flex;
}
.wrapper{
    display: flex;
    width:60%;
    position: relative;
    left:40%;
    height:40vh;
    padding: 0px 50px;
    background-color: rgba(158, 223, 201, 0.192);
}
h3{
    display: flex;
    height: 20px;
    color:rgba(240, 38, 11, 0.774);
}
input{
    appearance: none;
    background-color: rgba(212, 205, 202, 0.226);
    height:25px;
    border:0;
    width:250px;
    border-radius:8px;
    margin-bottom:10px;
}
.form{
    flex-direction: column;
    display: flex;
    max-width: 200px;
    margin-right:50%
}
.block{
    display: flex;
}
label{
    margin-bottom: 5px;
    font-weight: 700;
    color:rgba(214, 136, 33, 0.562);
 }
a{
    margin-left:5px;
    color:rgba(8, 12, 248, 0.719)
}
button{
    margin-top: 30px;
    width: 200px;
    height:50px;
    border:0;
    background-color: rgba(21, 212, 21, 0.911);
    border-radius: 9px;
    color:white;
    font-size: 18px;
    font-weight: 700;
}
button:hover{
    background-color: green;
}
a:hover{
    color:rgb(167, 14, 238);
}
input:invalid{
    border-color:red;
}
@media screen and (max-width: 480px) {
    html {
        overflow: auto;
    }
}
#error{
    color:red;
}